body {
  background-color: #e8e8e8;
}

.sudoku {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.grid tr:nth-child(3n):not(:last-child) {
  border-bottom: 2px solid #333;
}
.grid td:nth-child(3n):not(:last-child) {
  border-right: 2px solid #333;
}

.cell {
  padding: 0;
  position: relative;
}
.cell input {
  font-size: 24px;
  height: 48px;
  padding: 0;
  width: 48px;
}

.btn button {
  display: block;
  height: 36px;
  line-height: 34px;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}